/* GetInTouch.css */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.get-in-touch-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  flex: 1; /* Make this container take up the available vertical space */
  background-color: #f7f7f7; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* Form styles */
.get-in-touch-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
}

.get-in-touch-form label {
  font-weight: bold;
  color: #333; /* Dark text color */
}

.get-in-touch-form input,
.get-in-touch-form textarea {
  width: 100%;
  padding: 12px; /* Increased padding for better input field visibility */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.get-in-touch-form input:focus,
.get-in-touch-form textarea:focus {
  border-color: #007bff; /* Highlight border color on focus */
}

.get-in-touch-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-in-touch-form button:hover {
  background-color: #0056b3;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  /* Add more fallback fonts or adjust the size as needed */
}

/* Footer styles */
/* Add your existing footer styles here */
