/* MyCard.css */

.my-card1:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  }
  .my-card2:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  }
  .my-card3:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  }
  
  